.imagenProd{
    max-width: 350px;
    max-height: 250px;
    align-items: center;
}
.items{
    display: flex;
    padding: 2em;
    border: 1px solid purple;
    margin: 2em 1em;
    width: 400px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.itemsDetail{
    width: 50%;
    align-items: center;
    border: none;
    margin: 0 auto;
}
.itemsDetail img{
    width: 450px;
}
.items button{
    padding: 0.5rem;
    background-color: rgb(21, 32, 82);
    color: white;
    border: none;
    border-radius: 10px;
}
.items button:hover{
    background-color: rgb(49, 72, 175);
    border:none;
}

.items div{
    width:100%
}
.items div h2{
    height: 50px;
}
.itemDetail div h3{
    text-align: center;
    margin: 1em;
}
.Ver{
    background-color:  rgb(49, 72, 175);
    color:white;
    padding:0.5em;
    border-radius: 10px;
    margin-top: 1em;
}
.Ver:hover{
    background-color:  brown;
}
.itemsDetail h2{
    height: auto;
}
.itemsDetail img{
    width: 100%;
}