@import "./colores";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
#btn {
  color: $colorSecundario;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $colorPrincipal;
  padding: 5px 10px;
  border: none;
  width: 120px;
  height: 50px;
  border-radius: 10px;
}
#btn2 {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  border: $colorPrincipal solid 1px;
  background-color: $colorSecundario;
  padding: 10px 5px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.imagenProd {
  height: 250px;
  align-items: center;
  padding: 2em 0;
  transition: 1s;
}
.imagenProd:hover {
  transform: scale(1.2);
}
.title {
  font-size: 30px;
  height: 100px;
  background: $colorPrincipal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: $colorSecundario;
  .detalle {
    font-size: 2em;
  }
}
.precio {
  font-size: 30px;
  color: $colorPrincipal;
  padding: 0.2em;
  background-color: $colorBeige;
}
.ver {
  padding: 0.5em 1em;
  background-color: $colorPrincipal;
  color: $colorSecundario;
}
.precio:hover {
  color: $colorPrincipalOscuro;
  cursor: default;
}
.ver:hover {
  color: $colorPrincipalOscuro;
  background-color: $colorBeige;
  border: 1px $colorPrincipalOscuro solid;
}

.items {
  display: flex;
  border: 1px solid $colorBeige;
  margin: 2em 1em;
  width: 400px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.itemsDetail {
  width: 50%;
  align-items: center;
  border: none;
  margin: 0 auto;
}
.itemsDetail img {
  max-height: 400px;
  margin: 2em 0;
}
.items button {
  padding: 0.5rem;
  background-color: $colorBeige;
  color: $colorPrincipalOscuro;
  border: none;
  border-radius: 10px;
}
.descripcion {
  background-color: $colorBeige;
  padding: 0.5rem;
  text-align: center;
  margin: 1em 0;
}
.items button:hover {
  background-color: $colorPrincipalOscuro;
  color: $colorSecundario;
  border: none;
}
.items div {
  width: 100%;
  height: 500px;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.header {
  text-align: center;
  background-color: palevioletred;
  padding-top: 1em;
}
.HeaderLogo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
/*----------------------FIN SECTION-------------------*/
footer {
  color: white;
  position: absolute;
  width: 100%;
  /*height: 198px;*/
}
footer div:first-child {
  text-align: center;
  text-transform: uppercase;
  background-color: palevioletred;
  padding-top: 0.5rem;
}
footer div ul {
  display: flex;
  justify-content: center;
}
footer div ul li a i {
  font-size: 30px;
  padding: 2rem;
  color: white;
  transition: 1s;
}
footer div ul li a i:hover {
  transform: rotate(360deg);
}
footer div div h3 {
  font-size: 2rem;
}
.footerDerechos {
  background-color: rgb(224, 79, 128);
  padding: 1rem;
  text-align: center;
}
i.fas.fa-cart-plus {
  height: 100%;
}
/*----------------------FIN FOOTER-------------------*/
/*----------------------Card Productos-------------------*/
.productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (max-width: 800px) {
  .itemsDetail {
    display: grid;
    margin: auto;
  }
  .items {
    height: auto;
  }
}
.sinProductos{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}